/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.right-bottom-corner {
	display: block;
	text-align: right;
	color: gray; /* 根据需要调整字体颜色 */
	font-size: 17px; /* 根据需要调整字体大小 */
	bottom: 10px; /* 距离底部的距离 */
	right: 17px; /* 距离右边的距离 */
}

.callout[data-callout="moment"] {
	--callout-color: 0, 0, 0;
	--callout-icon: library;
}
.callout[data-callout="moment"] {
	background-color: transparent !important; /* 背景颜色为透明 */
	border: 1px solid #ccc !important; /* 添加边框 */
	border-radius: 10px !important; /* 添加圆角 */
	--callout-color: var(--undefine);
	--callout-icon: list-todo;
}


.callout[data-callout="moment"] .callout-title{
	font-size: calc(var(--font-text-size) - 5px);
}
